<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>دیوار</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/images/logos/divar.svg" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/dist/css/mapp.min.css" />
    <link rel="stylesheet" href="/dist/css/fa/style.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed">
      <!-- Sidebar Start -->
      <%-include("./sidebar.ejs")%>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <%-include("./header.ejs")%>
        <!--  Header End -->
        <div class="container-fluid">
          <!--  Row 1 -->
          <%-body%>
        </div>
      </div>
    </div>
    <!-- <script
      type="text/javascript"
      src="https://cdn.map.ir/web-sdk/1.4.2/js/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="/assets/libs/jquery/dist/jquery.min.js"></script> -->
    <script type="text/javascript" src="/dist/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/dist/js/mapp.env.js"></script>
    <script type="text/javascript" src="/dist/js/mapp.min.js"></script>
    <script>
      $(document).ready(function () {
        const app = new Mapp({
          element: "#map-element",
          presets: {
            latlng: {
              lat: 35,
              lng: 51,
            },
            zoom: 5,
          },
          apiKey:
            "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjlkZTc3MWMyMGY2NjA5NTk3YTg0N2MxNDQ0MGEzZDlmMTJiZmI3NTA2YWEzN2MxZDgzYmFhOTg0YTAyYzk1MzA3NzE4YWZkMWEzMjFjNWRkIn0.eyJhdWQiOiIyODE2MCIsImp0aSI6IjlkZTc3MWMyMGY2NjA5NTk3YTg0N2MxNDQ0MGEzZDlmMTJiZmI3NTA2YWEzN2MxZDgzYmFhOTg0YTAyYzk1MzA3NzE4YWZkMWEzMjFjNWRkIiwiaWF0IjoxNzIxNTc5NDExLCJuYmYiOjE3MjE1Nzk0MTEsImV4cCI6MTcyNDE3MTQxMSwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.DFl3OGSM2vnU7HcsmoAn6vfsC-95wLF58354oZVfxIM9r1ySN8miYqc0YiTgFwBPJSTqxPFbtD_Xdy6gJbIqe-LvPsS7OBvObCeTDoIuRG6rt-CZkir0Bsrm3fF7ahCEbMjWk0Pgp5SE2R3wfNK5sOj2tDsYspzZ0FoR5Jc8Viuy7Fw1YHmcPcJuaiJFjWWk9SuZxBON0X-XxkaPZTPwr60MgzBOjBBTVOw0w2tU5CEBYWWaomRnwZdDVkU17-XuOZ6WrxcTiZGfi4SWImdctk2zTkU0K8gMCOqvv7UKC3ziUuxmex8qxP-rHHgW_HY9gH5Ce7c3hxYZW0LPdRYSBg",
          gestureHandling: true,
          gestureHandlingOptions: {
            duration: 1200,
            text: {
              touch: "نقشه را با دو انگشت حرکت دهید",
              scroll: "برای بزرگنمایی نقشه از ctrl + scroll  استفاده کنید",
              scrollMac:
                "برای بزرگنمایی نقشه از \u2318  + scroll  استفاده کنید",
            },
          },
        });
        app.addLayers();
        app.map.on("click", function (e) {
          app.addMarker({
            name: "advanced-marker",
            latlng: {
              lat: e.latlng.lat,
              lng: e.latlng.lng,
            },
            icon: app.icons.red,
            popup: false,
          });
          let { lat, lng } = e.latlng;
          document.getElementById("lat").value = lat;
          document.getElementById("lng").value = lng;
        });
      });
    </script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/assets/js/dashboard.js"></script>
  </body>
</html>
